.keyboard-wrapper {
  margin-top: 7rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
}

.rowOne,
.rowTwo,
.rowThree {
  display: flex;
  justify-content: center;
}

.key {
  background-color: #3a3737;
  border-radius: 5px;
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.2rem;
  width: 10vw;
  max-width: 55px;
  min-width: 30px;
  aspect-ratio: 1 / 1;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-key,
.backspace-key {
  max-width: 120px;
  height: 55px;
  font-size: 2rem;
}
