.music-container {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#music-btn {
  background-color: #2b2b2b;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.volume-slider {
  position: absolute;
  background: #1e1e1e;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  z-index: 101;
}

@media (min-width: 769px) {
  .volume-slider {
    bottom: 4rem;
    left: 2.2rem;
    transform: translateX(-50%);
  }
}

.volume-slider input[type="range"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100px;
  cursor: pointer;
  background: transparent;
  accent-color: #00ffcc;
}

@media (max-width: 768px) {
  .music-container {
    top: 1rem;
    bottom: auto;
    right: 1rem;
  }

  .volume-slider {
    top: 3rem;
    bottom: auto;
    left: 1.5rem;
    transform: translateX(-50%);
  }

  #music-btn {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
